<form class="container" [formGroup]="carModelForm" (ngSubmit)="saveCarModel()">
    <div class="card" style="width: 1200px">
        <h3>{{pagetitle}}</h3>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="form-group">
                        <label>Brand</label>
                        <span class="text-danger">*</span>
                        <select formControlName="brandControl" class="form-control">
                            <option *ngFor="let brand of carBrands" [value]="brand.brandId">
                                {{ brand.brandName }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="form-group">
                        <label>Class</label>
                        <span class="text-danger">*</span>
                        <select formControlName="classControl" class="form-control">
                            <option *ngFor="let class of carClasses" [value]="class.classId">
                                {{class.className}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="form-group">
                        <label>Model Name</label>
                        <span class="text-danger">*</span>
                        <input formControlName="modelNameControl" class="form-control" />
                        <!-- <span *ngIf="isSubmitted && carModelForm.get('modelNameControl').error('required')" class="invalid-feedback">Model name is required</span> -->
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="form-group">
                        <label>Model Code</label>
                        <span class="text-danger">*</span>
                        <input formControlName="modelCodeControl" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="form-group">
                        <label>Description</label>
                        <span class="text-danger">*</span>
                        <textarea formControlName="descriptionControl" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="form-group">
                        <label>Features</label>
                        <span class="text-danger">*</span>
                        <textarea formControlName="featuresControl" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="form-group">
                        <label>Price</label>
                        <span class="text-danger">*</span>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input formControlName="priceControl" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="form-group">
                        <label>Manufacturing date</label>
                        <span class="text-danger">*</span>
                        <input formControlName="dateOfManufacturingControl" placeholder="YYYY/MM/DD"
                            class="form-control" ngbDatepicker #dp="ngbDatepicker" (click)="dp.toggle()">
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="form-group active-checkbox">
                        <label class="active-checkbox-label">IsActive</label>
                        <input formControlName="isActiveControl" type="checkbox">
                    </div>
                </div>
                <div class="col-lg-12 mb-4">
                    <div class="form-group">
                        <label>Upload Images</label>
                        <span class="text-danger">*</span>
                        <input type="file" (change)="onFileSelected($event)" multiple />
                        <small class="text-danger">Maximum size of image: 5MB</small>
                    </div>
                    <div *ngIf="carModelForm.get('imagesControl')?.value.length">
                        <label>Selected Images:</label>
                        <div class="row">
                            <div class="col-md-3" *ngFor="let image of carModelForm.get('imagesControl')?.value">
                                <img [src]="image.url" class="img-fluid mb-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <br>
                    <button class="btn btn-success" type="submit">Save</button> |
                    <a class="btn btn-danger" routerLink="/">Back</a>
                </div>

            </div>

        </div>

    </div>
</form>